body {
    font-family: 'Pacifico', cursive;
    background-color: #f8d7da;
    padding: 20px;
}

header {
    background-color: #ffc0cb;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.message {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
}

.note {
    background-color: #ffc0cb;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #ff4c6d;
    z-index: -1;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #ff4c6d;
}

.heart:before {
    height: 100px;
    width: 100px;
    top: -50px;
    left: -50px;
}

.heart:after {
    height: 150px;
    width: 150px;
    top: -75px;
    left: -75px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .message {
        max-width: 100%;
    }

    .note {
        width: 100%;
    }

    .heart {
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .message {
        font-size: 1.2rem;
    }

    .note {
        font-size: 1rem;
    }

    .heart {
        font-size: 2rem;
    }
}